In [44]:
import warnings
warnings.filterwarnings('ignore')

In [45]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [46]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [47]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [48]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [49]:
# find non-numeric columns for encoding
df.select_dtypes(exclude=np.number).head()

,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,initial_list_status,next_pymnt_d,application_type,hardship_flag,debt_settlement_flag
0,RENT,Source Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
1,MORTGAGE,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
2,MORTGAGE,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
3,RENT,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
4,MORTGAGE,Not Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N

In [50]:
# encoding non-numeric columns
df_encoded = pd.get_dummies(df, columns=["home_ownership", "verification_status", "issue_d", 'pymnt_plan', 'initial_list_status', 'next_pymnt_d', 'application_type', 'hardship_flag', 'debt_settlement_flag'])
df_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

# Split the Data into Training and Testing

In [51]:
# Create our features
X = df_encoded.drop(['loan_status'], axis=1)

In [52]:
# Create our target
y = df['loan_status'].squeeze()

In [53]:
y.head()

0    low_risk
1    low_risk
2    low_risk
3    low_risk
4    low_risk
Name: loan_status, dtype: object

In [54]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [55]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=1, stratify=y)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [57]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [61]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(51612, 95)
(17205, 95)
(51612,)
(17205,)

In [64]:
# Splitting into Train and Test sets into an 80/20 split.
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=1, train_size=0.80)

In [68]:
# Determine the shape of our training and testing sets.
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(55053, 95)
(13764, 95)
(55053,)
(13764,)

In [65]:
# Resample the training data with the BalancedRandomForestClassifier
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train2, y_train2)
# Making predictions using the testing data.
predictions = model.predict(X_test2)

In [67]:
# Calculated the balanced accuracy score
accuracy_score(y_test2, predictions)

0.9949142691078174

In [69]:
# Display the confusion matrix
# Calculating the confusion matrix
confusion_matrix(y_test2, predictions)

array([[   47,    32],
       [   38, 13647]], dtype=int64)

In [70]:
# Print the imbalanced classification report
print(classification_report(y_test2, predictions))

              precision    recall  f1-score   support

   high_risk       0.55      0.59      0.57        79
    low_risk       1.00      1.00      1.00     13685

    accuracy                           0.99     13764
   macro avg       0.78      0.80      0.79     13764
weighted avg       1.00      0.99      1.00     13764

In [76]:
# List the features sorted in descending order by feature importance
# Calculating the accuracy score.
sorted(zip(model.feature_importances_, X.columns), reverse=True)

[(0.2431490465191723, 'total_rec_int'),
 (0.08649167392302937, 'total_pymnt_inv'),
 (0.06767811300037291, 'out_prncp_inv'),
 (0.05334557949209708, 'total_pymnt'),
 (0.04155396932551516, 'installment'),
 (0.040339901177843154, 'total_rec_prncp'),
 (0.03597113677455921, 'issue_d_Mar-2019'),
 (0.024143214556602892, 'out_prncp'),
 (0.021815889398605993, 'last_pymnt_amnt'),
 (0.01913908934601489, 'total_bal_ex_mort'),
 (0.017911665932376305, 'mths_since_recent_inq'),
 (0.017870937733515366, 'open_il_24m'),
 (0.014986672852206801, 'avg_cur_bal'),
 (0.014867495529281762, 'all_util'),
 (0.013993626444544527, 'total_il_high_credit_limit'),
 (0.013980638211049041, 'total_bal_il'),
 (0.01379382424427332, 'num_rev_accts'),
 (0.013700386094122982, 'num_actv_rev_tl'),
 (0.012738552925256328, 'mo_sin_old_rev_tl_op'),
 (0.012420994942803545, 'dti'),
 (0.010837325338291579, 'mths_since_rcnt_il'),
 (0.009821291289328557, 'acc_open_past_24mths'),
 (0.009696027896899204, 'int_rate'),
 (0.009165680223505968, 'num_sats'),
 (0.008869784162740726, 'total_rec_late_fee'),
 (0.008749058395164789, 'num_bc_sats'),
 (0.008311605475406549, 'total_acc'),
 (0.008150904569070921, 'inq_last_6mths'),
 (0.00771388425451551, 'bc_util'),
 (0.007699762540339282, 'il_util'),
 (0.007102948753577588, 'total_cu_tl'),
 (0.006908980880724701, 'max_bal_bc'),
 (0.006582847016301355, 'revol_bal'),
 (0.006482432077231546, 'tot_hi_cred_lim'),
 (0.006417063493643534, 'home_ownership_OWN'),
 (0.006194071412702558, 'total_bc_limit'),
 (0.0060776578805700286, 'open_acc_6m'),
 (0.005713670788679046, 'open_rv_24m'),
 (0.005475841941777734, 'num_il_tl'),
 (0.005294763971760959, 'mort_acc'),
 (0.005213524227875512, 'annual_inc'),
 (0.005155695125722107, 'num_op_rev_tl'),
 (0.00478348993393079, 'tot_coll_amt'),
 (0.004601184396844011, 'open_act_il'),
 (0.0040276628588488015, 'inq_fi'),
 (0.0038807421536098596, 'total_rev_hi_lim'),
 (0.0037451285675284274, 'mo_sin_old_il_acct'),
 (0.003545405976564947, 'pub_rec_bankruptcies'),
 (0.003507392326579097, 'pct_tl_nvr_dlq'),
 (0.0034371300838147386, 'loan_amnt'),
 (0.003240576095916073, 'num_tl_op_past_12m'),
 (0.0031246637125588532, 'mo_sin_rcnt_rev_tl_op'),
 (0.0030858766608845636, 'delinq_2yrs'),
 (0.003082533415310871, 'num_actv_bc_tl'),
 (0.0027144700730999814, 'inq_last_12m'),
 (0.0024997309700470825, 'initial_list_status_w'),
 (0.0018434758502097505, 'tot_cur_bal'),
 (0.001779212082303872, 'num_tl_90g_dpd_24m'),
 (0.0017761246366123976, 'num_rev_tl_bal_gt_0'),
 (0.0016542784369051125, 'collections_12_mths_ex_med'),
 (0.0007147979742537087, 'next_pymnt_d_May-2019'),
 (0.000644435343442654, 'issue_d_Jan-2019'),
 (0.00032018570048637047, 'bc_open_to_buy'),
 (0.00014324320785116546, 'num_accts_ever_120_pd'),
 (0.00010967971810259704, 'next_pymnt_d_Apr-2019'),
 (9.397091478422527e-05, 'mths_since_recent_bc'),
 (8.436548803887876e-05, 'open_il_12m'),
 (3.301328239842287e-05, 'mo_sin_rcnt_tl'),
 (0.0, 'verification_status_Verified'),
 (0.0, 'verification_status_Source Verified'),
 (0.0, 'verification_status_Not Verified'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'pub_rec'),
 (0.0, 'policy_code'),
 (0.0, 'percent_bc_gt_75'),
 (0.0, 'open_rv_12m'),
 (0.0, 'open_acc'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'num_bc_tl'),
 (0.0, 'issue_d_Feb-2019'),
 (0.0, 'initial_list_status_f'),
 (0.0, 'home_ownership_RENT'),
 (0.0, 'home_ownership_MORTGAGE'),
 (0.0, 'home_ownership_ANY'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'application_type_Joint App'),
 (0.0, 'application_type_Individual'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [78]:
from collections import Counter
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from imblearn.ensemble import EasyEnsembleClassifier

In [79]:
eec = EasyEnsembleClassifier(random_state=1)

In [83]:
# Train the EasyEnsembleClassifier
eec.fit(X_train, y_train)
predictions = eec.predict(X_test)

In [84]:
# Calculated the balanced accuracy score
accuracy_score(y_test, predictions)

0.9428073234524847

In [85]:
# Display the confusion matrix
print(confusion_matrix(y_test, predictions))

[[   78     9]
 [  975 16143]]

In [86]:
# Print the imbalanced classification report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

   high_risk       0.07      0.90      0.14        87
    low_risk       1.00      0.94      0.97     17118

    accuracy                           0.94     17205
   macro avg       0.54      0.92      0.55     17205
weighted avg       0.99      0.94      0.97     17205